doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/main.css")
        script(src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")
        script(src="/js/particles.js", defer)
    body
        #particles-container
            nav.navbar
                .container
                    .navbar__logo
                        h1 Magdy #[br] Kishk
                    ul.navbar__links
                        li: a(href="#") About
                        li: a(href="#") Work
                        li: a(href="#") Tools
                        li: a(href="#") Contact